*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-height:100vh;
  background:cyan;
  display: flex;
  align-items:center;
  justify-content: center;
}

.loginWindow{
  height: 600px;
  max-width: 500px;
  background: white;
  padding:0 20px;
  border: 1px solid black;
  position: relative;
}

.logo{
  position: relative;
  left:80px;
}

h3{
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}

.links{
  display: flex;
  justify-content:center;
  gap:15px;
  margin-bottom: 10px;
  user-select: none;
}

.links a{
  text-decoration: none;
  font-weight: 700;
  color: white;
}
.facebook:active{
  background:rgb(45, 0, 248)
}
.google:active{
  background:red
}
.links div{
  width:200px;
  height:50px;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.facebook{
  background: hsl(240, 100%, 61%)
}

.google{
  background:hsl(0, 93%, 60%);
}

.login{
  width:420px;
  height:130px;
  overflow: hidden;
}

/* .login input{
  margin-bottom: 10px;
} */

.login input:hover{
  border:2px solid hsl(212, 100%, 73%)
}

.login input:focus{
  outline: none !important; 
  border: 2px solid hsl(209, 100%, 48%);
  padding-left:5px;
}

.login input:focus::placeholder{
  color: transparent;
}

.upper{
  width:420px;
  height:30px;
  border-radius:5px;
  border:2px solid hsl(0, 0%, 80%)
}

.forgetpassword{
  position: relative;
  left:300px;
  top:17px;
}

.forgetpassword a{
  text-decoration: none;
}

.rememberMe{
  display: flex;
  gap:10px;
  justify-content: center;
}

.rememberMe input{
  filter: hue-rotate(30deg);
  width: 20px;
  height:20px
}

.submit{
  display: flex;
  justify-content: center;
  margin:10px 0;
  background:hsl(212, 100%, 73%);
  border-radius: 5px;
  height: 33px;
  margin-bottom: 30px;
  user-select: none !important;
}

.submit button{
  border: none;
  background-color: hsl(212, 100%, 73%);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.submit:active{
  background:blue;
}
.submit:active button{
  background:blue;
}
.footer{
  border-top:2px solid hsl(0, 0%, 80%);
  padding-top:30px;
  height:100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center ;
}